               /* Remove the navbar's default margin-bottom and rounded borders */

   .navbar {
       margin-bottom: 0;
       border-radius: 0;
       background-color: orange;
   }



   .paragraph {

       font-size: 20px;
   }

   img {

       width: 28%;
       margin: 25px;
       float: left;
   }

   #message {

       width: 77%;
       padding: 17%;
   }

   h3 {

       margin-top: 32px;
   }


   .floating-pic {

       width: 28%;
       margin-left: 40px;
       border: 3px solid teal;
   }
   /* Set black background color, white text and some padding */

   footer {
       background-color: #555;
       color: white;
       padding: 15px;
   }


   @media only screen and (max-width: 980px) {
       body {
           background-color: lightgray;
       }

       @media only screen and (max-width: 768px) {
           body {
               background-color: #8080ff;
           }


           @media only screen and (max-width: 640px) {
               body {
                   background-color: #d6f5f5;
               }